@font-face{
    font-family: Golos-Text_Bold;
    src: url(../fonts/Golos-Text_Bold.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face{
    font-family: Golos-Text_DemiBold;
    src: url(../fonts/Golos-Text_DemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}
@font-face{
    font-family: Golos-Text_Regular;
    src: url(../fonts/Golos-Text_Regular.ttf);
    font-style: normal;
    font-weight: 400;
}